.star-rating {
  direction: ltr;
  display: inline-flex;
  unicode-bidi: bidi-override;
}

.star {
  color: #ddd;
  font-size: 1.5rem;
  position: relative;
  display: inline-block;
  margin: 0 2px;
}

.star.full {
  color: #ffc107;
}

.star.half::before {
  color: #ffc107;
  content: '★';
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden;
}

.star.empty {
  color: #ddd;
}


.stars-selector {
  display: inline-flex;
  direction: ltr;
}

.stars-selector .star {
  cursor: pointer;
  transition: color 0.2s;
  font-size: 2rem;
  margin: 0 3px;
}

.stars-selector .star.selected {
  color: #ffc107;
}

.stars-selector .star:hover {
  transform: scale(1.1);
}