:root {
  --primary-color: #F5C45E;
  --secondary-color: #102E50;
  --transition-speed: 0.3s;
}
/* قسم الهيرو */
.hero-section {
  height: 110vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/public//HeroSection/pexels-phantomant-1374370.jpg') no-repeat center;
  background-size: cover;
  background-position: 10% -20px;
  position: relative;
  padding-top: 90px;
  animation: fadeIn 1.5s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--bg-overlay);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 3;
  color: #fff;
  direction: rtl;
  text-align: right;
  width: 100%;
  margin: 250px 70px 150px;
  padding-inline-end: 50px;
}

.hero-content h4 {
  margin-block: 30px;
}

/* أزرار محتوى الهيرو */
.hero-content-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-right: 4%;
}

.hero-btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color var(--transition-speed) ease, color var(--transition-speed) ease;
  cursor: pointer;
}

/* تواصل معنا */
.hero-btn.outline {
  background-color: rgba(213, 181, 101, 0.1);
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.hero-btn.outline:hover {
  background-color: #ffae00;
  color: #fff;
}

/* من نحن */
.hero-btn.filled {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
}

.hero-btn.filled:hover {
  background-color: #ffae00;
  color: var(--secondary-color);
}

/* البطاقات */
.home-cards-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 0 20px;
}

.home-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
  text-align: center;
}

.home-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.home-card h3 {
  margin-bottom: 10px;
}

.home-card p {
  font-size: 14px;
  color: #333;
}

.icon-wrapper {
  color: #102E50;  ; /* or whatever matches your theme */
  margin-bottom: 10px;
}


@media (max-width: 768px) {
  .hero-section {
    height: auto;
    padding-top: 70px;
  }

  .hero-content {
    margin: 150px 0 80px;
    padding-inline-end: 20px;
    text-align: center;
  }

  .hero-content-btn {
    justify-content: center;
  }
}
